<!--
    Author: BLANK
    Description: Displays card images in a gallery like fashion
-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Contains a dynamic map, leaderboards and navigational menus">
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/col.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    </head>
    <body>
        <!-- Navigation Bar -->
        <header class="navbar">
            <a href="home" class="logo">
                <img src="{% static 'img\logo.png' %}">
            </a>
            <nav class="nav-links">
                <a href="home.html">Home</a>
                <a href="user.html">Profile</a>
                <a href="social.html">Social</a>
                <a href="about.html">About Us</a>
                <a href="home.html">Sign Out</a>
            </nav>
        </header>
        <!-- Section for images the user has collected -->
        <div class="spacer">
            <h2>Collected Cards</h2>
        </div>
        <div class="grid">
            {% for card in cardshas%}
                <div class="grid-item">
                    <img src="{{ card.image.url }}" alt="Image", class="card", data-title="{{card.title}}", data-description="{{card.description}}">
                </div>
            {% endfor %}
        </div>
        <div class="spacer">
            <h2>Available Cards</h2>
        </div>
        <!-- Section for images the user does not have -->
        <div class="grid">
            {% for image in imgsnot %}
                <div class="grid-item">
                    <img src="{{ image.url }}" alt="Image", class="card-locked">
                </div>
            {% endfor %}
        </div>
        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2 id="modal-title"></h2>
                <p id="modal-description"></p>
            </div>
        </div>
        <!--Footer Bar-->
        <footer class="footer">
            <p>@Copyirght 2025. All rights reserved.</p>
        </footer>
        <script src="{% static 'js/modal.js' %}"></script>
    </body>




