<!--
    Author: Samuel
    Description: This template is used for creating a new card in the card game application. 
    It includes fields for card name, subtitle, description, optional set, and an image upload.
-->

{% block content %}
<h1>Create a New Card</h1>

<form method="post" action="{% url 'create_card' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="card_name">Card Name:</label><br>
    <input type="text" id="card_name" name="card_name"><br>

    <label for="card_subtitle">Card Subtitle:</label><br>
    <input type="text" id="card_subtitle" name="card_subtitle"><br>

    <label for="card_description">Card Description:</label><br>
    <textarea id="card_description" name="card_description"></textarea><br>

    <label for="card_set">Card Set (Optional):</label><br>
    <input type="text" id="card_set" name="card_set"><br>

    <label for="card_image">Card Image:</label><br>
    <input type="file" id="card_image" name="card_image"><br>

    <label for="environmental impact">Impact:</label><br>
    <input type="number" min="1" max="10" id="env" name="env"><br>

    <label for="cost">Cost:</label><br>
    <input type="number" min="1" max="10" id="cost" name="cost"><br>

    <label for="beauty">Beauty:</label><br>
    <input type="number" min="1" max="10" id="beauty" name="beauty"><br>




    <input type="submit" value="Create Card">
</form>
{% endblock %}
