<!DOCTYPE html>

<!--
    Author: Jake Klar
    Description: This is the homepage of the card game, featuring:
    a dynamic map, leaderboards, information about the latest card and navigation.
-->

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Contains a dynamic map, leaderboards and navigational menus">
        <title>Home</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
        <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    </head>
    <body>
        <!-- Navigation Bar -->
        <header class="navbar">
            <a href="home" class="logo">
                <img src="{% static 'img\logo.png' %}">
            </a>
            <nav class="nav-links">
                <a href="/home">Home</a>
                <a href="user">Profile</a>
                <a href="/challenges">Challenges</a>
                <a href="about">About Us</a>
                <a href="/logout">Sign Out</a>
            </nav>
        </header>
        <div class="main-container">
            <div class="left">
                <div class="leaderboard">
                    <div class="leaderboard-header">
                        <img src="{% static 'img\trophy.svg' %}">
                        <h1>
                            Top Players
                        </h1>
                    </div>
                    <div class="leaderboard-links">
                        <div class="leaderboard-one">
                            <img src="{% static 'img/one.svg' %}">
                            <a href="">User 1</a>
                            <p>000</p>
                        </div>
                        <div class="leaderboard-two">
                            <img src="{% static 'img/two.svg' %}">
                            <a href="">User 2</a>
                            <p>000</p>
                        </div>
                        <div class="leaderboard-three">
                            <img src="{% static 'img/three.svg' %}">
                            <a href="">User 3</a>
                            <p>000</p>
                        </div>
                        <div class="leaderboard-four">
                            <img src="{% static 'img/four.svg' %}">
                            <a href="">User 4</a>
                            <p>000</p>
                        </div>
                        <div class="leaderboard-five">
                            <img src="{% static 'img/five.svg' %}">
                            <a href="">User 5</a>
                            <p>000</p>
                        </div>
                    </div>
                </div>
                <div class="recent-card">
                    <h1>Recent Card!</h1>
                    <div class="recent-card-body">
                        <h2></h2>
                        <img>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="map" id="map">
               <script src="{% static 'js/map.js' %}"></script>
            </div>
        </div>
        <footer class="footer">
            <p>@Copyirght 2025. All rights reserved.</p>
        </footer>
        <script src="{% static 'js/leaderboard.js' %}"></script>
        <script src="{% static 'js/recent_card.js' %}"></script>
    </body>
</html>
