OUTGOING
{% for trade in outgoing %}
{{trade.date}} {{trade.recipient}} {{trade.incoming_card}} {{trade.requested_card}}
<a href="{% url 'cancel' trade.id %}" class="btn btn-danger">Cancel the trade</a>
{% endfor %}

INCOMING
{% for trade in incoming %}
{{trade.date}} {{trade.sender}} {{trade.requested_card}} {{trade.incoming_card}}

<a href="{% url 'accept' trade.id %}" class="btn btn-danger">Accept the trade</a>
<a href="{% url 'cancel' trade.id %}" class="btn btn-danger">Deny the trade</a>

{% endfor %}


