<!--
    Author: Yigit Keles, Jake Klar
    Description: User profile page, including user statistics such as most recent card, name, signup date, points, card progress.
-->

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <style>

    </style>
</head>

<body>
    <header class="navbar">
        <a href="/home" class="logo">
            <img src="{% static 'img\logo.png' %}">
        </a>
        <nav class="nav-links">
            <a href="/home">Home</a>
            <a href="user">Profile</a>
            <a href="/challenges">Challenges</a>
            <a href="about">About Us</a>
            <a href="home">Sign Out</a>
        </nav>
    </header>
    <div class="main-content">

        <div class="columns-container">

            {% if recent_card_name %}
            <div class="recent-card">
                <h1>Recent Card!</h1>
                <div class="recent-card-body">
                    <h2>{{recent_card_name}}</h2>
                    <img src="/{{ recent_card_image }}">
                    <p>{{recent_card_desc}}</p>
                    <p>{{recent_card_date}}</p>
                </div>
            </div>

            

            {% endif %}


            <div class="profile">
                <div class="columns-container">
                    <div class="white">
                        <h1>Name: </h1>
                        <h3>{{username}} </h3>
                        <h1>Sign Up Date: </h1>
                        <h3>{{user_reg_date}} </h3>
                    </div>
                    <div class="white">
                        <h1>Your Points: </h1>
                        <h3>{{points}} </h3>
                        <h1>Cards: </h1>
                        <h3>{{user_card_num}} / {{card_num}} </h3>
                        <h1>Completed Sets: </h1>
                        <h3>To be added... </h3>

                    </div>

                </div>

            </div>

        </div>

        {% if messages %}
        {% for message in messages %}
        <div id="alert-box" class="alert-box">
            <div class="alert-box-content">
                <span class="close">&times;</span>
                <h2>Success!</h2>
                <p>{{message}}</p>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>

    <footer class="footer">
        <p>@Copyirght 2025. All rights reserved.</p>
    </footer>
    <script src="{% static 'js/close.js' %}"></script>
</body>