html, body {
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
}

/*Navbar Elements*/
.navbar {
    display: flex;
    height: 50px;
    align-items: center;
    background: linear-gradient(90deg, rgba(106,149,37,1) 0%, rgba(9,121,12,1) 35%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar img {
    height: 45px;
    padding: 10px;
}

.nav-links {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: kanit;
    font-size: 20px;
    justify-content: flex-end;
}

.nav-links a {
    display: flex;
    color: white;
    height: 100%;
    padding: 0px 20px 0 20px;
    text-decoration: none;
    text-shadow: 2px 2px 5px gray;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.nav-links a:hover {
    background-color: #0fce14;
}

/* Container to hold leaderboard and map */
.main-container {
    display: flex;
    height: 100%;
    flex: 1;
}

/*Left Portion Controller*/
.left {
    display: flex;
    flex-direction: row;
    min-width: 900px;
}

/*Leaderboard Elements*/
.leaderboard {
    display: flex;
    flex-direction: column;
    padding: 45px 0px 15px 20px;
}

.leaderboard-header {
    display: flex;
    align-items: center;
    background-color: #096079;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.leaderboard h1 {
    font-family: kanit;
    color: white;
}

.leaderboard img {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(70deg) brightness(99%) contrast(107%);
    height: 40px;
    padding: 20px;
}

.leaderboard-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
}

.leaderboard-links a {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold ;
    text-decoration: none;
    width: auto;
    flex: 1;
}

.leaderboard-links p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: black;
    justify-content: end;
    padding-right: 30px;
}

.leaderboard-one {
    display: flex;
    align-items: center;
    background-color: #12c5f8;
}

.leaderboard-two {
    display: flex;
    align-items: center;
    background-color: #0fa3ce;
}

.leaderboard-three {
    display: flex;
    align-items: center;
    background-color: #0c82a3;
}

.leaderboard-four {
    display: flex;
    align-items: center;
    background-color: #096079;
}

.leaderboard-five {
    display: flex;
    align-items: center;
    background-color: #08546B;
    border-radius: 0 0 20px 20px;
}


/*Map Elements */
.map {
    margin-top: 45px;
    margin-right: 60px;
    display: flex;
    flex: 1;
    width: 1000px;
    height: 90%;
    border: solid 3px #096079;
    border-radius: 5px;
}

/*Footer Elements*/
.footer {
    display: flex;
    height: 30px;
    background: linear-gradient(90deg, rgba(106,149,37,1) 0%, rgba(9,121,12,1) 35%);
    align-items: center;
    justify-content: center;
    box-shadow: 0 7px 30px rgba(62, 9, 11, .3);
}

.footer p {
    font-family: kanit;
    font-size: 15px;
    color: white;
}

